<h1>Welcome to Smartie, {{ name }}!</h1>

Thank you for creating a Smartie account.
Your login: <strong>{{ username }}</strong>
Auth code: <strong>{{ auth_code }}</strong>

Please use the following button to activate your account:
<a href="{{ activation_link }}">Button</a>

--
With best regards,
The "Smartie" Team

